# Dependências e Builds
node_modules/
dist/
out/
build/

# Logs e Cache
*.log*
.eslintcache
.parcel-cache
.turbo
.vercel

# Arquivos de Sessão do WhatsApp (CRÍTICO)
# Se você seguiu o caminho de salvar em 'whatsapp-auth', ignore-o:
whatsapp-auth/
.wwebjs_auth/
.wwebjs_cache/

# Arquivos Temporários do Chromium/Puppeteer
[0-9]*.*.html
[0-9]*.*.tmp
*.tmp
SingletonLock
SingletonCookie
SingletonSocket

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db